/* _sass/variables-hook.scss */
// $sidebar-bg: url('/assets/img/sidebar-bg.jpg') top/cover no-repeat;
/* _sass/variables-hook.scss */
$sidebar-bg:            rgba(24,24,24,.80);    // nền mờ
$sidebar-hover-bg:      rgba(255,255,255,.07); // nền cho nav-item
$sidebar-border-color:  rgba(255,255,255,.05);
$sidebar-active-color:  #ffffff;
$sidebar-btn-bg:        rgba(255,255,255,.10);
